body {
  background-color: white;
}
header {
  margin: 30px;
  background-color: purple;
  opacity: 1;
}
header ul li p,
a {
  opacity: 0.9;
  font-size: 20px;
  color: black;
  margin: 0%;
}

tr {
  text-align: center;
  position: relative;
}
th {
  text-align: center;
}
input {
  text-align: center;
  position: relative;
  background-color: white;
  display: inline-table;
}
h3 {
  margin: 0%;
  text-align: left;

  display: inline-table;
}
form {
  text-align: left;
  margin: 0%;
  position: relative;
}
table {
  text-align: center;
}
