body {
  background-color: white;
}
header {
  margin: 5px 20px 30px 20px;
  background-color: Aquamarine;
  opacity: 1;
}
header ul li p,
a {
  opacity: 0.9;
  font-size: 20px;
  color: black;
  margin: 0%;
}
footer {
  margin: 30px 20px 0px 20px;
}
footer div h5.cu {
  margin: 5px 0 5px 0;
  background-color: Aquamarine;
}
footer div div.gegevens {
  margin: 0%;
  background-color: Aquamarine;
}
